header {
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 20px;
	height: 50px;
}

.top-bar {
	vertical-align: middle;
}

.maincontent {
	background-color: #C0C0C0;
	height: 500px;
	max-width: 100%;
}

.bioinfo {
	padding-left: 30px;
	float: left;
	max-width: 500px;
	font-size: 30px;
	margin-top: 30px;
}

p {
	font-size: 20px;
}

img {
	padding-left: 30px;
	float: left;
	margin-right: 20px;
}

.contactinfo {
	float: right;
	width: 700px;
	font-size: 30px;
	margin-top: 30px;
}

ul {
	list-style-position: inside;
	font-size: 20px;
}

h3 {
	padding-left: 30px;
}